body{
    background-image: url(../assets/pictures/other/shop-background.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 !important;
}

.header{
    position: fixed !important; 
    position: absolute;
    height: 100px;
    width: 99.15%;
    background-color: rgba(255, 0, 0, 0.747);
    color: white;
}

.navBar{
    position: fixed !important; 
    position: absolute;
    height: 30px;
    width: 99.15%;
    background-color: rgba(255, 72, 0, 0.747);
    color: white; 
    margin-top: 100px;
}

.navButton{
    height: 100%;
    width: 100%;

    color: white;
    font-size: medium;
    background-color: transparent;

    border-radius: 2px;
    border-color: orange;
}

.navBarSection{
    width: 100%;
    height: 100%;

    align-content: center;
    display: flex;
}

.logo{
    height: 100px;
    width: 100px;
    padding-left: 10px;
}

.center{
    text-align: center;
}

.spacer{
    height: auto;
    width: 100%;

    margin-bottom: 10%;

    display: flex;
    flex-flow: row wrap;
    align-content: baseline;
    flex-grow: inherit;
}

.headingHigher{
    margin-top: -100px;
}

.sells{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    display: flex;
    flex-flow: row wrap;
    align-content: baseline;
    justify-content: center;
    flex-grow: inherit;
    align-self: center;

    height: auto;
    padding: 20px;
}

div.sell{
    background-color: rgba(197, 197, 197, 0.5);
    border: 2px rgba(128, 128, 128, 0.5);
    border-radius: 10px;

    height: 600px;
    width: 500px;

    margin: 30px;
}

p.sell{
    color: white;
    font-size: x-large;
}

p.notAvailable{
    color: white;
    font-size: 17px;

}

.idNumber{
    color: rgba(68, 68, 68, 0.733);
    font-size: medium;
    margin: 0px;
}

p.Heading{
    align-items: center;
    text-align: center;
    font-size: xx-large;
    color: white;
    text-decoration: underline;
}

.welcomeMessage{
    text-align: center;
    align-items: center;
    align-content: center;
    color: black;

    flex-flow: column nowrap;

    height: auto;
    width: 50%;
    background-color: rgba(212, 212, 212, 0.89);

    margin-top: 15%;
    margin-left: 25%;

    border-radius: 30px;
}

.footer{
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: rgba(24, 24, 24, 0.89);
    color: white; 
    margin-top: 60px;
    margin-bottom: 40px;
}

.footerContent{
    width: 33,3%;
    height: 100%;

}

.autoHeight{
    height: auto !important;
}

.element-divider{
    border: 1px;
    border-style: solid;
    border-color: black;
}