body{
    background-image: url(../assets/pictures/shop-background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar{
    height: 100px;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.747);
    color: white;
}

.logo{
    height: 100px;
    width: 100px;
    padding-left: 10px;
}

.center{
    text-align: center;
}

.headingHigher{
    margin-top: -100px;
}

.sells{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 100px;
}